.Auth-container{
background-image: url("/src/assets/imgs/ella-olsson-C1Q3qOTlegg-unsplash\ 1.png");
  
}
.bg-overlay{
 background-image: linear-gradient( to left, rgba(0,0,0,0.4),rgba(47, 100, 51, 0.7));
}
.mob{
  position: absolute;
  bottom:45% ;
  left: 27%;

 
}
.email{
  position: relative;

 
}
.bg-white{
  border-radius: 12px;
}
.logBtn{
  margin-bottom: 15px;
}
.text-color{
  color: #B4B4B4;
}
.fa-mobile,.fa-lock, .fa-envelope{
  transform: translateY(-185%);
  padding: 0px 5px;
  position: relative;
  color: #e4dfdf;
  
}
.fa-mobile::after,.fa-lock::after{
  content: " ";
  width: 2px;
  height: 20px;
  position: absolute;
  left: 20px;
 top: -3px;
background-color: #ede8e8;
  
}

.fa-lock::after{
  content: " ";
  width: 2px;
  height: 20px;
  position: absolute;
  left: 21px;
 top: -3px;
background-color: #ede8e8;
  
}
.fa-envelope::after{
  content: " ";
  width: 2px;
  height: 20px;
  position: absolute;
  left: 23px;
 top: -3px;
background-color: #ede8e8;
}
.sideBar-Container .ps-sidebar-container{
  background-color: #1f263e;
  color: #fff;
  height: 100vh;
}
.sideBar-Container .ps-sidebar-container .ps-menu-button:hover{
  background-color: #009247;
}
.header-content{
  background-image: url(../src/assets/imgs/header-bg-svg.svg);
  background-size: cover;
  background-position: 100% 100%;
}
.section-container{
  background-color: #f0ffef
}